body {
    height: 80vh;

    padding-top: 6vh;
    background-color: #89CFF0;
    background-size: cover;

}

.navbar {
   justify-content: center;
   background-color: #007FFF;
   padding: 0vh;
   /* border: solid 2px orange; */
}
.navbar p {
    justify-content: center;
    font-size: 2.0rem;
    font-weight: bold;
    color: black;
}
#searchDiv {
    /* border: 2px solid blue; */
    font-size: 0rem;
    align-items: center;
    font-family: 'Raleway' , sans-serif;
}

.input-website {
    display:flex;
    font-size: 1.5rem;
    color: black;
    /* text-align: center; */
    /* background-color: red; */
}
.input {
    text-align: center;
    border-color: black;
    font-size: 1.5rem;
    /* background-color: red; */
}

#srchBtn {
    justify-content: center;
    width: 100%;
    background-color: #007FFF;
    border-color: #007FFF;
    border-radius: 0rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}



/* .virusDiv { */
    /* max-height: 40vh; */
    /* border: solid 2px black; */
    /* min-height: 45vh; */
/* } */



#scan_summary {
    display: flex;
    /* border: 2px solid green; */
    align-items: center;
    font-size: 1.5rem;
    font-family: 'PT Serif', serif;
}
ul {
    font-weight: bolder;
    text-align: center;   
}
li {
    font-weight: normal;
}


#card_holder {
    /* overflow-y: scroll; */
    /* border: 2px solid orange; */
    width: 100%;;
    display:flex;
    align-items: center;
    justify-content: center;
}
.card {
    /* background-color: yellow; */
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    text-align:center;
    /* align-items: center; */
    /* text-shadow: rgb(255, 0, 0) 1px 0 10px; */
    
}

.articleDiv {
    /* max-height: 45vh; */
    /* border: solid 2px pink; */
    min-height: 45vh;
    background-color: #89CFF0;
}

.articleDiv p {
    font-size: 1.1rem;
    font-family: 'Raleway' , sans-serif;
    color: black;
    font-weight: bold;
    padding: 0rem;
}

#Tech_Stories {
        /* border: solid 2px blue; */
    /* min-height: 45vh; */
    /* height:40vh; */
}

#footer{
    
     width: 100%; 
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    color: gray;
    background-color: #89CFF0;

    /* border: 2px solid  yellow */    
}


/* Media Query for better mobile responsiveness */
/* Handeled with Bootstrap */
@media screen and (max-width: 980px) {
    

    /* NO CHANGES NEEDED FOR THIS RESOLUTION */
         
}/*980px breakpoint end */
@media screen and (max-width: 768px) {
      
       
}/*768px breakpoint end */
    
@media screen and (max-width: 575px) {

    .card-content {

        font-size: .7rem;    
    }
    .subtitle {
        font-size: 9rem;
    }
    


          
}/*575px breakpoint end */