/*Global Variables */
:root {
    
    --pal1: #1D435C;
    --pal2: #11A3B3;
    --pal3: #EFBF1F;
    --pal4: #E2641B;
    --pal5: #E43120;
    --pal6: #FFEBCD;
    
}


.navbar {
    justify-content: center;
    background-color: var(--pal1);
    padding: 0vh;
    
 }
 
 .navbar p {
     
     font-size: 2.0rem;
     font-weight: bold;
     color: var(--pal2);
     text-align:center;
      
 }


body {
    height: 80vh;
    padding-top: 6vh;
    background-color: var(--pal2);
    background-size: cover;

}


#searchDiv {
  
    font-size: 0rem; 
    font-family: 'Raleway' , sans-serif;
    font-size: 1.5rem;
    min-height: 8vh;

}

.input-website {
    display:flex;  
    color: black;
    font-size: 1.3rem;
    font-weight: bolder;
}
.input {
    text-align: center;
    border-color: black;
    font-size: 1.5rem;
    border-radius: .5rem;
  
}

#srchBtn {
   
    justify-content: center;
    width: 90%;
    margin-left: 1%;
    background-color: var(--pal1);
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color:var(--pal2)
}

#srchBtn:hover {
    background-color: var(--pal2);
    color: var(--pal1);
    border: 2px solid var(--pal1);
}

#scan_summary {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'PT Serif', serif;
   
}
ul {
    font-weight: bolder;
    text-align: left; 
    background-color: var(--pal6);
    border-radius: .5rem; 
    border:3px solid var(--pal1);
    line-height: 3.0rem;
    
}
li {
    font-weight: normal;
    padding-left:5%;

}
.siteLI {
    border-bottom: 2px solid black;
    
}


#card_holder {
  
    width: 100%;;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pal2);
    padding-top: 3%;
}
.card {
 
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    text-align:center;
    border: 1px solid black;
    text-shadow: none;
    
}
.card:hover {
   
    transform:scale(1.2,1.2)
}

.articleDiv {

    min-height: 45vh;
    background-color: var(--pal2);
    padding-top: 3%;
    padding-bottom: 3%;
}

.articleDiv p {
    font-size: 1.1rem;
    font-family: 'Raleway' , sans-serif;
    font-weight: normal;
    padding: 0rem;
    background-color: var(--pal1);
    margin: 5%;
    border-radius: 1.0rem;
    color: blanchedalmond;
    border:2px solid  var(--pal6);
    margin-bottom:2%;
    letter-spacing: .1em;
    
}
#Tech_Stories {
  
    background-color:var(--pal1);
    margin-top:1%;
    border: 2px solid var(--pal6);
    border-radius: 1.0rem;
    padding-left: 1%;
    margin-left: 1.5%;
    padding-bottom:2%;
    
}


#timesTitle {
    padding: 2%;
    font-size: 1.7rem;
    text-align:center;
    font-weight:bolder;
     
}
.box {
    border: 1px solid black;
    margin-top: 1%;
}
.box:hover {
  
    transform:scale(1.1,1.2);
   
}

#traff-cam {
    padding: 30px;
    padding-top: 100px;
    
}
.responsiveIMG {
    width: 96%;
    height:auto;
    border: 2px solid black;
    border-radius: 1.0rem;
    
}


#footer{
    
     width: 100%; 
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    color: white;
    background-color: var(--pal1);
    font-size: 1.3vw;
    letter-spacing: .3em;
    border-top: 1px solid var(--pal6);

}


/* Media Query for better mobile responsiveness */
/* Handeled with Bootstrap */
@media screen and (max-width: 980px) {
    

    /* NO CHANGES NEEDED FOR THIS RESOLUTION */
         
}/*980px breakpoint end */
@media screen and (max-width: 768px) {
    #searchDiv {
        /* display:flex; */
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    #srchBtn {
        width:98%;
        /* border: 2px solid red; */
        margin-left:1%;
    }

    
      
       
}/*768px breakpoint end */
    
@media screen and (max-width: 575px) {

    .card-content {

        font-size: .7rem;    
    }
    .subtitle {
        font-size: 9rem;
    }
    


          
}/*575px breakpoint end */